<div class="container">
  <h1><strong>Pet Name</strong> <%= @pet.name %></h1>
  <p><strong>Descriptions:</strong> <%= @pet.description %></p>
  <p><strong>Animal Type</strong> <%= @pet.pet_type %></p>
  <p><strong>Image URL</strong> <%= @pet.image_url %></p>
  <p><strong>Pet owner email</strong> <%= @pet.user.email %></p>
  <p><strong>Price</strong> $ <%= @pet.price %></p>
  <div>
    <%= link_to 'DELETE ME', pet_path, method: :delete, data: {confirm: "Are you sure? :'("} %>
    <%= link_to 'EDIT ME', edit_pet_path %>
    <%= link_to 'Add Booking', new_pet_booking_path(@pet) %>
  </div>
</div>