<div class="container">
  <h1><strong>Pet Name</strong> <%= @pet.name %></h1>
  <p><strong>Descriptions:</strong> <%= @pet.description %></p>
  <p><strong>Animal Type</strong> <%= @pet.pet_type %></p>
  <p><strong>Image URL</strong> <%= @pet.image_url %></p>
  <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill, class: "img-thumbnail" %>
  <p><strong>Pet owner email</strong> <%= @pet.user.email %></p>
  <p><strong>Price</strong> $ <%= @pet.price %></p>
  <div>
    <% if current_user.id == @pet.user.id %>
      <%= link_to 'DELETE ME', pet_path, method: :delete, data: {confirm: "Are you sure? :'("} %>
      <%= link_to 'EDIT ME', edit_pet_path %>      
    <% else %>
      <%= link_to 'ADD BOOKING', new_pet_booking_path(@pet) %>
    <% end %>
  </div>
</div>