<h1>Booking</h1>
<ul>
  <% @bookings.each do |booking| %>
    <li>
      <p><%= booking.user.email %></p>
      <p><%= booking.pet.name %></p>
      <p><%= booking.start_time.strftime("%Y-%m-%d") %></p>
      <p><%= booking.end_time.strftime("%Y-%m-%d") %></p>
      <p><%= booking.total_price %></p>
    </li>
  <% end %>  
</ul>
