<!--	
	<div class="card mb-3">
				<div class="row g-0">
					<div class="col-md-4">
						<%= cl_image_tag(pet.photo.key, height: 300, width: 400, crop: :fill) if pet.photo.attached? %>
            <% unless pet.photo.attached? %>
                <p>No photo attached</p>
            <% end %>
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title"><%= pet.name %></h5>
								<div class="owner"><%= pet.user.name %></div>
							<p class="card-text"><%= pet.description %></p>
							<p class="card-text"><%= Geocoder.search("#{pet.user.location }, Australia").first.suburb%></p>
							<p class="card-text"><small class="text-muted">$<%= pet.price %> / Day</small></p>
						</div>
					</div>
				</div>
			</div>

-->
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%= cl_image_tag(pet.photo.key, height: 300, width: 400, crop: :fill) if pet.photo.attached? %>
            <% unless pet.photo.attached? %>
                <p>No photo attached</p>
            <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>