<div class="card">
	<div class="card-row">
		<% if pet.photo.attached? %>
			<%= cl_image_tag(pet.photo.key) %>
		<% else %>
			<p>No photo attached</p>
		<% end %>
		<div class="card-body">
			<div class="card-headers">
				<h3><%= pet.name %></h3>
				<p><%= pet.user.location %></p>
			</div>
			<p class="card-description"><%= pet.description %></p>
			<div class="card-bottom">
				<%= link_to 'Rent Pet', pet_path(pet), class: "card-link" %>
				<p class="text-muted">$ <%= pet.price %> / day</p>
			</div>
		</div>
	</div>
</div>