<div class="card">
	<div class="card-row no-gutters">
		<div class="col-sm-4 m-0">
			<% if pet.photo.attached? %>
				<%= cl_image_tag(pet.photo.key) %>
			<% else %>
				<%= cl_image_tag('https://res.cloudinary.com/dddsdfpy5/image/upload/v1614909966/default_profile_REP_niiyts.jpg') %>
			<% end %>
		</div>
		<div class="col-sm-8 card-body">
			<div class="card-headers">
				<h3><%= pet.name %></h3>
				<p><%= pet.user.location %></p>
			</div>
			<p class="card-description"><%= pet.description %></p>
			<div class="card-bottom">
				<%= link_to 'Rent Pet', pet_path(pet), class: "card-link" %>
				<p class="text-muted">$ <%= pet.price %> / day</p>
			</div>
		</div>
	</div>
</div>