<div class="card">
	<div class="card-row">
		<div class="card-img-container">
			<% if pet.photo.attached? %>
				<%= cl_image_tag(pet.photo.key) %>
			<% else %>
				<%= cl_image_tag('https://res.cloudinary.com/dddsdfpy5/image/upload/v1614909966/default_profile_REP_niiyts.jpg') %>
			<% end %>
		</div>
		<div class="card-body">
			<div class="card-headers">
				<h3 class="mx-auto"><%= pet.name %></h3>
			</div>
			<p class="card-description"><%= pet.description %></p>
			<div class="card-bottom">
				<%= link_to 'Edit Pet', pet_path(pet), class: "card-link" %>
				<p class="text-muted">$ <%= pet.price %> / day</p>
			</div>
		</div>
	</div>
</div>