<div class="container_home">
	<div class="banner" style="background-image: url(https://www.marchioro.it/images/banner_pet.jpg);">
    <div class="container">
	    <h1>Rent-A-Pet</h1>
	  
      <% unless  user_signed_in? %>
		   <div class="try_button">
			   <%= link_to 'Try Us Now', new_user_registration_path, class: "btn btn-primary btn-lg", id: "front_button" %>
		   </div>
	    <% end %>
		</div>
  </div>

  <div class="row display:flex justify-content:space-between">
		<div class="card" id="cards" style="width: 18rem;">
		  <div class="card-img-top" >
			  <%= cl_image_tag(Pet.last(3).first.photo.key, height: 250, width: 286, crop: :fill) if Pet.last(3).first.photo.attached? %>
        <% unless Pet.last(3).first.photo.attached? %>
          <p>No photo attached</p>
        <% end %>
			</div>
			<div class="card-body">
				<p class="card-text"><%= Pet.last(3).first[:description] %></p> 
			</div>
		</div>
		<div class="card" id="cards" style="width: 18rem;">
			 <div class="card-img-top" >
			  <%= cl_image_tag(Pet.last(1).first.photo.key, height: 250, width: 286, crop: :fill) if Pet.last(1).first.photo.attached? %>
        <% unless Pet.last(1).first.photo.attached? %>
          <p>No photo attached</p>
        <% end %>
			</div>
			<div class="card-body">
				<p class="card-text"><%= Pet.last(1).first[:description] %></p>
			</div>
		</div>
		<div class="card" id="cards" style="width: 18rem;">
		  <div class="card-img-top" >
			  <%= cl_image_tag(Pet.last(2).first.photo.key, height: 250, width: 286, crop: :fill) if Pet.last(2).first.photo.attached? %>
        <% unless Pet.last(2).first.photo.attached? %>
          <p>No photo attached</p>
        <% end %>
			</div>
			<div class="card-body">
				<p class="card-text"><%= Pet.last(2).first[:description] %></p>
			</div>
		</div>
	</div>
 </div>
