<div class="container">
	<h1 class="text-center">
		<strong><%= current_user.name.upcase%></strong> Dashboard
	</h1>
	<div class="offers-container">
		<h3 class="text-center">My Current Offer's</h3>
		
		<% if @booking_offers.empty? %>
			<p>No Current Offer</p>
			<% else %>
				<% @booking_offers.each do |offer|%>
					<div class="border d-flex flex-column align-items-center my-2 pt-3">
						<p>Renting pet: <%= offer.pet.name%></p>
						<p>Start date: <%= offer.start_time.strftime("%Y-%m-%d")%></p>
						<p>End date: <%= offer.end_time.strftime("%Y-%m-%d")%></p>
						<p>To User: <%= offer.user.email%></p>
						<p>Total amount: <%= offer.total_price%></p>
						
						<% if offer.offer_accepted %>
							<strong>ACCEPTED <%= link_to 'Change', booking_path(offer.id), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></strong>
						<% else %>
						<div>
							<%= link_to 'Accept', booking_path(offer.id), method: :patch, data: {confirm: "Are you sure?"}, class: "btn btn-success" %>
							<%= link_to 'Decline', booking_path(offer.id), method: :delete,  data: {confirm: "Are you sure this booking will be deleted?"}, class: "btn btn-danger" %>
						</div>
						<% end %>
						
					</div>
				<% end %>
			<% end %>
		</div>
	<div class="dashboard-bottom-container">
		<div class="bottom-pet-container">
			<h3 class="text-center">My Pets</h3>
			<div class="pet-container">
				<% if @pets.empty? %>
					<p>You don't have any pets</p>
				<% else %>
					<% @pets.each do |pet|%>
						<p><%= pet.pet_type %> 
							<%= link_to pet_path(pet.id) do %>
								<%= pet.name%></p>
							<% end %>
					<% end %>
				<% end %>
			</div>
			</div>
			<div class="bottom-bookings-container">
			<h3 class="text-center">Bookings</h3>
			<div class="bookings-container">
			<% @my_bookings.each do |booking|%>
				<%= link_to booking_path(booking.id) do %>
					<div class="border d-flex flex-column align-items-center p-2">
						<p>User Email: <%= booking.pet.user.email%></p>
						<p>Pet: <%= booking.pet.name%></p>
						<p>Start: <%= booking.start_time.strftime("%Y-%m-%d")%></p>
						<p>End: <%= booking.end_time.strftime("%Y-%m-%d")%></p>
						<p>Total price: <%= booking.total_price%></p>
						<div class="py-1">
							<%= link_to 'Delete', booking_path(booking.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
						</div>
					</div>
				<% end %>
			<% end %>
			</div>
			</div>
	</div>
	</div>
