<div class="container"><h1><strong><%= current_user.email.split("@")[0].upcase%></strong> Dashboard</h1></div>
<div id="exTab1" class="container">	
<ul  class="nav nav-pills">
			<li class="active">
        <a href="#1a" data-toggle="tab">My Bookings</a>
			</li>
			<li><a href="#2a" data-toggle="tab">My Pets</a>
			</li>
			<li><a href="#3a" data-toggle="tab">My Offers</a>
			</li>
  	</ul>
			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="1a">
          <% @my_bookings.each do |booking|%>
						<%= link_to booking_path(booking.id) do %>
							<div class="border d-flex flex-column w-50 align-items-center my-4 pt-3">
								<p>User Email: <%= booking.pet.user.email%></p>
								<p>Pet: <%= booking.pet.name%></p>
								<p>Start: <%= booking.start_time.strftime("%Y-%m-%d")%></p>
								<p>End: <%= booking.end_time.strftime("%Y-%m-%d")%></p>
								<p>Total price: <%= booking.total_price%></p>
								<div class="py-1">
									<%= link_to 'Delete', booking_path(booking.id), method: :delete, data: {confirm: "Are you sure? :'("}, class: "btn btn-primary" %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
				<div class="tab-pane" id="2a">
				  <div class = "my-4 pt-3">
				    <%= link_to 'Add-A-Pet', new_pet_path %>
				  </div>
          <% @pets.each do |pet|%>
            <p>Pet: 
							<%= link_to pet_path(pet.id) do %>
								<%= pet.name%></p>
							<% end %>
					<% end %>
				</div>
        <div class="tab-pane" id="3a">
          <% @booking_offers.each do |offer|%>
						<div class="border d-flex flex-column w-50 tex-left my-4 pl-5 pt-3">
							<p>Renting pet: <%= offer.pet.name%></p>
							<p>Start date: <%= offer.start_time.strftime("%Y-%m-%d")%></p>
							<p>End date: <%= offer.end_time.strftime("%Y-%m-%d")%></p>
							<p>To User: <%= offer.user.email%></p>
							<p>Total amount: <%= offer.total_price%></p>
						</div>
					<% end %>
				</div>
			</div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>